version: "3.8"
services:
  error-pages:
    # BUILD tells Docker: "Look in this folder and use the Dockerfile"
    build: .
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      # The Catch-All Rule
      - "traefik.http.routers.catchall.rule=PathPrefix(`/`)"
      # Low Priority (So it doesn't block real apps)
      - "traefik.http.routers.catchall.priority=1"
      - "traefik.http.routers.catchall.entrypoints=web,websecure"
      - "traefik.http.routers.catchall.tls=true"
      - "traefik.http.services.error-pages.loadbalancer.server.port=80"

networks:
  dokploy-network:
    external: true
